*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/app/.cxx/
/openCVLibrary320/build/
/openCVLibrary320/build/intermediates/javac/debug/classes/